
* {
    color: #000;
    font-family: 'Noto Sans JP', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

header {
    display: flex;
    justify-content: space-between;
}

/* header-left */
.header-left::after {
    position: absolute;
    z-index: -2;
    left: 0;
    top: 0;
    content: ' ';
    width: 0;
    height: 0;
    border: solid;
    border-width: 400px 650px 0 0;
    border-color:#b5c97c transparent transparent transparent;
}

.header-left {
    position: relative;
    z-index: auto;
    background-color: #b5c97c;
    height: 80px;
    padding-left: 8%;
    padding-top: 6%;
}

.header-left a {
    text-decoration: none;
}

header .header-left a span {
    display: block;
    color: #fff;
}

.header-left-top {
    font-size: 1.5em;
    letter-spacing:0.1em;
    font-weight: bold;
}

.header-left-bottom {
    font-size: 0.9em;
    font-weight: 200;
    letter-spacing:0.1em;
}

/* header-right */
.header-right {
    padding-right: 10%;
    padding-top: 5em;
}

/* menu-triger判別用のinput */
.header-right input {
    display: none;
}

/* menu-trigger */
.menu-trigger,
.menu-trigger span {
display: inline-block;
transition: all .4s;
}

.menu-trigger {
    position: fixed;
    z-index: 99;
    width: 40px;
    height: 35px;
    right: 10%;
    top: 5em;
}

.menu-trigger span {
    position: absolute;
    left: 0;
    width: 40px;
    height: 35px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
    top: 0;
}

.menu-trigger span:nth-of-type(2) {
    top: 45%;
}

.menu-trigger span:nth-of-type(3) {
    bottom: 0;
}

/* MENU文字 */
.menu-trigger::after {
    position: absolute;
    left: 0;
    bottom: -30px;
    content: 'MENU';
    display: block;
    width: 100%;
    color: #000;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    transition: all .4s;
}

/* activeクラス付与時の設定 */
.menu-trigger.active::after {
    content: 'CLOSE';
    bottom: -25px;
}

.menu-trigger.active span:nth-of-type(1) {
    -webkit-transform: translateY(15px) rotate(-45deg);
    transform: translateY(15px) rotate(-45deg);
}

.menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
}

.menu-trigger.active span:nth-of-type(3) {
    -webkit-transform: translateY(-15px) rotate(45deg);
    transform: translateY(-15px) rotate(45deg);
}

/* modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0%;
    top: 0%;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    padding-right: 20%;
    padding-left: 20%;
    padding-top: 10%;
}

.modal-content{
    background-color: white;
    padding: 2.5em;
    padding-bottom: 1em;
    margin: 0 auto;
    margin-top: 5%;
    border-radius: 30px;
    opacity: 0;
    text-align: center;
    animation: FadeIn 1s forwards;
}

@keyframes FadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


.modal p {
    font-size: 2.5em;
    letter-spacing: 0.3em;
    margin-bottom: 1.5em;
}

.modal ul {
    padding-left: 0;
}

.modal li {
    list-style: none;
    padding-bottom: 5em;
}

/* btn */
.btn {
    background: #f4b3ca;
    color: #fff;
    border:none;
    position: relative;
    height: 60px;
    font-size: 1.5em;
    padding: 0.5em 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    text-decoration: none;
    letter-spacing: 0.2em;
    border-radius: 5px;
}

.btn:hover {
    background:#fff;
    color: #f4b3ca;
}

.btn:before, .btn:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #f4b3ca;
    transition: 400ms ease all;
}

.btn:after {
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}

.btn:hover:before, .btn:hover:after {
    width:100%;
    transition:800ms ease all;
}

/* modal内のbtnここまで */

.container {
    margin: 5% auto;;
    width: 80%;
    text-align: center;
    background-color: #fbe5eb;
    padding: 4% 2em;;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 5em;
}

h1 {
    letter-spacing: 0.3em;
    font-size: 3em;
    padding: 0.5em;
    margin: 0;
    font-weight: 200;
    padding-bottom: 2em;
}


.works-image {
    padding-bottom: 5em;
    width: 30%;
    height: 360px;
    margin-right: 1.5em;
    margin-left: 1.5em;
    min-width: 280px;
    /* opacity: 0; */
}

figure {
    margin: 0;
    width: 100%;
}

 .works-image figure {
	position: relative;
    height: 100%;
    width: 100%;
	background: #3085a3;
	text-align: center;
    cursor: pointer;
} 

.works-img figure:last-of-type {
    margin-right: 0;
}

.works-image figure img {

	display: block;
    height: 100%;
    width: 100%;
    opacity: 1;
    object-fit: cover;
    object-position: 25% top;
    box-shadow: 4px 4px 8px #977;
}

.works-image p {
    text-align: left;
    padding: 2%;
    padding-top: 2em;
}

.work-image figure figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
    padding: 2em;
	color: #fff;
}


figure.hover-effect figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(top, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
	background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
	content: '';
	opacity: 0;
}

figure.hover-effect h3 {
    word-spacing: -0.15em;
    font-weight: 300;
    font-size: 1.5em;
    letter-spacing: 0.2em;
    margin: 0;
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	color: #484c61;
	-webkit-transition: -webkit-transform 0.35s, color 0.35s;
	transition: transform 0.35s, color 0.35s;
}

figure.hover-effect figcaption::before {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    overflow: hidden;
}

figure.hover-effect:hover h3 {
	color: #fff;
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
    transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
    overflow: hidden;
}

figure.hover-effect:hover figcaption::before  {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    overflow: hidden;
}

footer {
    height: 300px;
    padding: 5%;
    width: 100%;
    background-color: #f5b8b5;
}

footer a {
    display: inline-block;
    padding-left: 0.5em;
}
